<div id="<%= dom_id airport %>">
  <p>
    <strong>Country:</strong>
    <%= airport.country %>
  </p>

  <p>
    <strong>City:</strong>
    <%= airport.city %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= airport.name %>
  </p>

</div>
