<div id="<%= dom_id billing %>">
  <p>
    <strong>Last 4 digits:</strong>
    <%= billing.last_4_digits %>
  </p>

  <p>
    <strong>Cvc:</strong>
    <%= billing.cvc %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= billing.expiration_date %>
  </p>

</div>
